
nav{
	padding-top: 30px;
	height: 150px;
	background-color: black;
}
.nav_logo{
	margin-left: 100px;
}
.nav_logo h6{
	width: 80px;
}
.nav_logo h5{
	width: 35px;
	background-color: white;
	font-color: transparent;
	
}
.nav_logo h6, .nav_logo h5{
	float:left;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid white;
	text-align: center;
}
.nav_links{
	margin-left: 350px;
}
.nav_links_div{
	display: inline-block;
	padding-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.nav_links_div:hover{
	border-bottom: 2px solid red;
	cursor: pointer;
}
.nav_links_div p{
	text-transform: uppercase;
	font-size: 10px;
	color: white;
	font-weight: bold;
}
.nav_links_div p:hover{
	color: red;
}



/*@@@@@@@@@@@@@@@@@@@@@@header@@@@@@@@@@@@@@@@@@@@@@@@@*/
.header{
	background-color: black;
	padding-bottom: 300px;
}
.header p, .header h1, .header h2{
	text-align: center;
	color: white;
}
.header h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}
.header p{
	padding-top: 20px;
	width: 420px;
	text-align: center;
	font-size: 10px;
	margin: 0 auto;
	line-height: 2;
}
.header_underline{
	height: 30px;	
}
.header_buttonL, .header_buttonR{
	width: 30px;
	height: 50px;
	background-color: white;
}
.header_buttonL{
	float:left;
	margin-left: 100px;
}
.header_buttonR{
	float:right;
	margin-right: 100px;
}
.header_buttonL h6, .header_buttonR h6{
	margin-top: 8px;
	font-size: 30px;
	text-align: center;
} 
.header_buttonL h6:hover, .header_buttonR h6:hover{
	color: white;
}
.header_buttonL:hover, .header_buttonR:hover{
	cursor: pointer;
	background-color: red;
}
.header_button1, .header_button2{
	margin-top: 40px ;
	height: 50px;
	border: 1px solid white;
	display: inline-block;

}
.header_button1:hover, .header_button2:hover{
	background-color: red;
	cursor: pointer;
	border: 0px;
} 
.header_button1 h5, .header_button2 h5{
	text-align: center;
	font-size: 35px;

}
.header_button1 h5 span, .header_button2 h5 span{
	vertical-align: middle;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;

}
.header_button1{
	margin-left: 300px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@columns@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.columns_tab{
	height: 300px;
	margin-top: 100px;
}
.columns_img1, .columns_img2, .columns_img3, .columns_img4{
	margin: auto;
	height: 80px;
	width: 80px;
	margin-bottom: 30px;

}
.columns_img1{
	background: black url(#) center no-repeat;
}
 .columns_img2{
	background: black  url(#) center no-repeat;
 }
 .columns_img3{
	background: black url(#) center no-repeat;
 }
 .columns_img4{
	background: black url(#) center no-repeat;
 }
 .columns_imgAnderline{
 	height: 50px;
 }
 .columns_tab h3, .columns_tab p{
 	text-align: center;
 	line-height: 1.5;
 }
 .columns_tab h3{
 	text-transform: uppercase;
 }
.columns_underline{
	border-top: 2px solid black;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@history@@@@@@@@@@@@@@@@@@@@*/

.history{
	margin-top: 120px;
}
.history_img{
	background: black url(#) center no-repeat;
	height: 300px;
}
.history_content h3{
	padding-left: 30px;
	font-size: 25px;
	border-left: 5px solid red;
	text-transform: uppercase;
	font-weight: bold;
	font-color: #aaa;
}
.history_content p{
	margin-top: 30px;
	line-height: 2;
}
.history_content_button{
	margin-top: 30px;
	width: 250px;
	height: 50px;
	background-color: red;
}
.history_content_button p{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 3.3;
	color: white;
}
/*@@@@@@@@@@@@@@@@@@@@@@@services@@@@@@@@@@@@@@@@@@*/
.services{
	margin-top: 50px;
	background: black url(#) center no-repeat;
	height: 600px;
}
.services_text{
	text-align: right;
	margin-top: 100px;
}
.services_text h3{
	border-right: 5px solid red;
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 25px;
	font-color: #aaa;
	font-weight: bold;
	color: white;
	margin-bottom: 40px;

}
.services_text h4{
	margin-top: 20px;
	font-color: red;
	font-size: 18px;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}
.services_text p{
	margin-top: 10px;
	font-size: 15px;
	color: white;
	font-size: 15px;
	line-height: 2;
}
.s_text_img1{
	background: url(#) center no-repeat;
	height: 50px;
}
.s_text_img2{
	background: url(#) center no-repeat;
	height: 50px;
}
.s_text_img3{
	background: url(#) center no-repeat;
	height: 50px;
}
.s_text_img4{
	background: url(#) center no-repeat;
	height: 50px;
}
.services_img{
	background: url(#) center no-repeat;
	height: 300px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@work@@@@@@@@@@@@@@@@@@@@@@@*/
.works{
	margin:50px;
}
.works h3{
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}
.works p{
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.work_bars{
	margin-top: 50px;
	text-align: center;
}
.work_bars h4{
	display: inline;
	text-transform: uppercase;
	font-weight: bold;

}
.work_bars h4:hover{
	color: red;
	cursor: pointer;
}
.work_img{
	margin-top: 50px;
}
.work_img1, .work_img2, .work_img3, .work_img4, .work_img5, .work_img6, .work_img7, .work_img8{
	height: 200px;
	background: black url(#) no-repeat;
	border: 1px solid white;
}
.w_underline{
	width: 30px;
	border-bottom: 3px solid white;
	margin-bottom: 20px;
}
.w_img1_text, .w_img2_text, .w_img3_text, .w_img4_text, .w_img5_text, .w_img6_text, .w_img7_text, .w_img8_text{
	margin-top: 60%;
	float:left;
	margin-left:20px;
	display: none;
}
.work_img1:hover .w_img1_text, .work_img2:hover .w_img2_text,.work_img3:hover .w_img3_text, .work_img4:hover .w_img4_text, .work_img5:hover .w_img5_text, .work_img6:hover .w_img6_text, .work_img7:hover .w_img7_text, .work_img8:hover .w_img8_text{
	display: block;
	color: white;
}
/*@@@@@@@@@@@@@@@@@@@@@@study@@@@@@@@@@@@@@@@@@@@@*/
.study{
	background: black url(#) center no-repeat;
	height: 1000px;

}
.study h3{
	padding-top: 100px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}
.study h4{
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
}
.s_post{
	margin-top: 100px;
	background: white url(#) center no-repeat;
	height: 500px;
	position: relative;
	z-index: 10;
	border: 1px solid black;
}
.s_post_img{
	background: black url(#) center no-repeat;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	margin-top: 50px;
}
.s_post h5{
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 15px;
}
.s_post p{
	width: 300px;
	text-align: center;
	margin: 30px auto;
}
.s_post_button{
	width: 200px;
	height: 50px;
	background-color: red;
	margin: 0 auto;
}
.s_post_button h6{
	text-align: center;
	text-transform: uppercase;
	line-height: 3;
}
.s_coffee_img{
	background: white url(#) center no-repeat;
	height: 600px;
	margin-top: 50px;
	left: -100px;
	position: relative;
	z-index: 5;
}
/*######################stat####################*/
.stat{
	background: black url(#) center no-repeat;
	height: 350px;
}
.stat_tabs{
	padding-top: 100px;
}
.s_tab1_img, .s_tab2_img, .s_tab3_img, .s_tab4_img, .s_tab5_img{
	margin: 0 auto;
	height: 80px;
	width: 80px;
}
.s_tab1_img{
	background: white url(#) center no-repeat;
}
.s_tab2_img{
	background: white url(#) center no-repeat;
}
.s_tab3_img{
	background: white url(#) center no-repeat;
}
.s_tab4_img{
	background: white url(#) center no-repeat;
} 
.s_tab5_img{
	background: white url(#) center no-repeat;
}
.stat_tab1 h3, .stat_tab2 h3, .stat_tab3 h3, .stat_tab4 h3, .stat_tab5 h3{
	margin: 40px auto 0 auto;	
	font-size: 20px;
	text-align: center;	
}
.stat_tab1 h4, .stat_tab2 h4, .stat_tab3 h4, .stat_tab4 h4, .stat_tab5 h4{
	margin: 10px auto 0 auto;
	font-size: 15px;
	text-align: center;	
}
/*#####################pricing################*/
.pricing h3{
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	margin-top: 100px;
}
.pricing h4{
	text-align: center;
	margin-top: 20px;
	font-size: 15px;
}
.pricing_tab{
	margin-top: 100px;
}
.p_tab1_img1{
	background: black url(#) center no-repeat;
}
.p_tab2_img1{
	background: black url(#) center no-repeat;
}
.p_tab3_img1{
	background: black url(#) center no-repeat;
}
.p_tab1_img1, .p_tab2_img1, .p_tab3_img1{
	height: 200px;
}
.p_tab1_img2{
	background: #aaa url(#) center no-repeat;
}
.p_tab2_img2{
	background: #aaa url(#) center no-repeat;
}
.p_tab3_img2{
	background: #aaa url(#) center no-repeat;
}
.p_tab1_img2, .p_tab2_img2, .p_tab3_img2{
	height: 450px;
}
.p_tab1_img1 h2, .p_tab2_img1 h2, .p_tab3_img1 h2{
	margin-top: 50px;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
}
.p_t1_img2_round, .p_t2_img2_round, .p_t3_img2_round{
	background: white url(#) center no-repeat;
	width: 130px;
	height: 130px;
	margin: 0 auto;
	top: -65px;
	position: relative;
	border-radius: 65px;
}
.p_t1_img2_round h5, .p_t2_img2_round h5, .p_t3_img2_round h5{
	padding-top: 40px;
	text-align: center;
	font-size: 25px;
}
.p_t1_img2_round h6, .p_t2_img2_round h6, .p_t3_img2_round h6{
	text-align: center;
	font-size: 15px;
}
.p_t1_img2_rights p, .p_t2_img2_rights p, .p_t3_img2_rights p{
	margin-top: 20px;
	text-align: center;
}
.p_t1_img2_r_button, .p_t2_img2_r_button, .p_t3_img2_r_button{
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
.p_t1_img2_r_button{
	background: red url(#) center no-repeat;
}
.p_t2_img2_r_button{
	background: red url(#) center no-repeat;
}
.p_t3_img2_r_button{
	background: red url(#) center no-repeat;
}
.p_t1_img2_rights p:last-child, .p_t2_img2_rights p:last-child, .p_t3_img2_rights p:last-child{
	margin-top: 50px;
	line-height: 3;
}
/*#########################team######################*/
.team{
	background: black url(#) center no-repeat;
	height: 600px;
}
.team h3{
	padding-top: 75px;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	color: white;
	font-weight: bold;
}
.team h4{
	margin-top:20px;
	text-align: center;
	color: white;
}
.team_tab{
	margin-top: 130px;
}
.team_tab1_img{
	background: white url(#) center no-repeat;
}
.team_tab2_img{
	background: white url(#) center no-repeat;
}
.team_tab3_img{
	background: white url(#) center no-repeat;
}
.team_tab4_img{
	background: white url(#) center no-repeat;
}
.team_tab5_img{
	background: white url(#) center no-repeat;
}
.team_tab1_img, .team_tab2_img, .team_tab3_img, .team_tab4_img, .team_tab5_img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.team_tab1 h5, .team_tab2 h5, .team_tab3 h5, .team_tab4 h5, .team_tab5 h5{
 	text-align: center;
 	margin-top: 50px;
 	color: red;
 	font-size: 20px;
 	font-weight: bold;
}
.team_tab1 h6, .team_tab2 h6, .team_tab3 h6, .team_tab4 h6, .team_tab5 h6{
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: white;
}
/*####################integrations################*/
.integrations{
	border-bottom: 1px solid black;
	height: 550px;
}
.integrations h2{
	margin-top: 100px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.integrations h3{
	margin-top: 30px;
	text-align: center;
}
.integrations h4{
	margin-top: 10px;
	text-align: center;
}
.integration_img{
	margin-top: 100px;
}
.integration_img1{
	background: black url(#) center no-repeat;
}
.integration_img2{
	background: black url(#) center no-repeat;
}
.integration_img3{
	background: black url(#) center no-repeat;
}
.integration_img4{
	background: black url(#) center no-repeat;
}
.integration_img5{
	background: black url(#) center no-repeat;
}
.integration_img6{
	background: black url(#) center no-repeat;
}
.integration_img7{
	background: black url(#) center no-repeat;
}
.integration_img8{
	background: black url(#) center no-repeat;
}
.integration_img9{
	background: black url(#) center no-repeat;
}
.integration_img10{
	background: black url(#) center no-repeat;
}
.integration_img1, .integration_img2, .integration_img3, .integration_img4, .integration_img5, .integration_img6, .integration_img7, .integration_img8, .integration_img9, .integration_img10{
	height: 80px;
	margin-top: 20px;
}
.integration_img1:hover, .integration_img2:hover, .integration_img3:hover, .integration_img4:hover, .integration_img5:hover, .integration_img6:hover, .integration_img7:hover, .integration_img8:hover, .integration_img9:hover, .integration_img10:hover{
	background-color: red;
	cursor: pointer;
}
/*#############################Blog###################*/
.blog{
	margin-top: 100px;
}
.blog h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.blog h3{
	text-align: center;
	line-height: 12px;
	margin-top: 10px;
}
.blog_pictures{
	margin-top: 50px;
}
.blog_img1{
	background: black url(#) center no-repeat;
}
.blog_img2{
	background: black url(#) center no-repeat;
}
.blog_img3{
	background: black url(#) center no-repeat;
}
.blog_img4{
	background: black url(#) center no-repeat;
}

.blog_img1, .blog_img2, .blog_img3, .blog_img4{
	height: 250px;
}

.blog_tab1{
	background: red url(#) center no-repeat;
}
.blog_tab2{
	background: red url(#) center no-repeat;
}
.blog_tab3{
	background: red url(#) center no-repeat;
}
.blog_tab4{
	background: red url(#) center no-repeat;
}

.blog_tab1, .blog_tab2, .blog_tab3, .blog_tab4{
	height: 250px;
}
.blog_tab1_txt, .blog_tab2_txt, .blog_tab3_txt, .blog_tab4_txt{
	width: 180px;
	margin: 30px auto;
}
.blog_tab1 p, .blog_tab2 p, .blog_tab3 p, .blog_tab4 p{
	color: white;
	margin-top: 10px;
	font-size: 10px;
	line-height: 1.5;

}
.blog_tab1 h4, .blog_tab2 h4, .blog_tab3 h4, .blog_tab4 h4{
	color: white;
	font-size: 12px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.b_underline{
	border-bottom: 2px solid white;
	height: 10px;
	width: 30px;
	margin-bottom: 20px;

}
.blog_tab1 h5, .blog_tab2 h5, .blog_tab3 h5, .blog_tab4 h5{
	margin-top: 20px;
	color: white;
	font-size: 12px;
}
/*#########################callback###################*/
.callback{
	margin-top: 100px;
}
.callback h2{
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.callback h6{
	text-align: center;
	margin-top: 40px;
}
.callback_tab{
	margin-top: 100px;
}
.callback_information{
	background: #aaa url(#) center no-repeat;
	height: 500px;
}
.callback_information h3{
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 15px;
	color: red;
	font-weight: bold;
}
.callback_information h4{
	margin-top: 20px;
	font-size: 12px;
}
.callback_information h5{
	margin-top: 5px;
	font-size: 12px;
}
.cb_info_txt{
	width:200px;
	margin: 0 auto;
}
.callback_form{
	background: #aaa url(#) center no-repeat;
	height: 500px;
}
.cb_form_txt{
	width: 450px;
	margin: 0 auto;
	margin-top: 75px;
}
.cb_form_txt form p{
	margin-top: 10px;	
}
.cb_form_txt form p b{
	float: left;
}
.cb_form_txt form p input{
	margin-bottom: 20px;
}
.cb_form_txt form p:nth-child(5) input{
	float:left;
	margin-bottom: 0px;
}
##########################footer############################