
* {
	transition: all .5s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}

body{
	font: 1em 'PT Sans', Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
}

/*css grid
=========================================*/

.container{
	width: 940px;
	margin: 0 auto;
}

.row{
	margin-bottom: 20px;
}

.row:after{
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear: both;
}
[class*='span']{
	display: inline-block;
	margin-right: 20px;
	float: left;
}
[class*='spn']{
	float: left;
	display: inline;
}

.span1 {width: 60px}
.span2 {width: 140px}
.span3 {width: 220px}
.span4 {width: 300px}
.span5 {width: 380px}
.span6 {width: 460px}
.span7 {width: 540px}
.span8 {width: 620px}
.span9 {width: 700px}
.span10 {width: 780px}
.span11 {width: 860px}
.span12 {width: 940px}
.span_5 {width: 172px}

.spn1  {width: 8.33%}
.spn2  {width: 16.66%}
.spn3  {width: 25%}
.spn4  {width: 33.33%}
.spn5  {width: 41.66%}
.spn6  {width: 50%}
.spn7  {width: 58.33%}
.spn8  {width: 66.66%}
.spn9  {width: 75%}
.spn10  {width: 83.33%}
.spn11  {width: 91.66%}
.spn12  {width: 100%}

.offset1 {margin-left: 60px}
.offset2 {margin-left: 140px}
.offset3 {margin-left: 220px}
.offset4 {margin-left: 300px}
.offset5 {margin-left: 380px}
.offset6 {margin-left: 460px}
.offset7 {margin-left: 540px}
.offset8 {margin-left: 620px}
.offset9 {margin-left: 700px}
.offset10 {margin-left: 780px}
.offset11 {margin-left: 860px}
.offset12 {margin-left: 940px}

.mr0{
	margin-right: 0px;
}
.h{
	height: 200px;	
}
.fr{
	float: right;
}
/*###################normalice#########################*/
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td{
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img, abbr{
	border: 0px;
}
address, caption, cite, code, dfn, em, strong, th, var{
	font-style: normal;
	font-weight: normal;
} 
ul, li{
	list-style: none;
}
caption, th{
	text-align: left;
}
h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font-weight: normal;
}
sup{
	vertical-align: text-top;
}
input, textarea, select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
legend{
	color: #000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}